@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor1: #000000; 
    --cor2: #54728c;
    --cor3: #f2d98d;
    --cor4: #a6785d;
    --cor5: #d9665b;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    height: 100vh;
    color: white;
}

header{
    position: fixed;
    width: 100vw;
    height: 109px;
    padding: 2rem 9%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 220px;
    height: 69px;
}
header > nav{
    font-size: 2em;
    color: white;
}
header > nav > a{
    color: #505B65;
    margin-left: 25px;
    transition: 1s;
}
header > nav > a:hover{
    color: #ceda4dda;
}

section{
    background-color: #54728c;
    color: white;
    width: 100vw;
    height: 500px;
    padding: 20px;
    display: flex;
}

.esq{
    background-color: #a6785d;
    width: 50%;
}
.dir{
    background-color: #CFDA4D;
}

main{
    width: 100vw;
    height: 600px;
}